{% extends "JngActivityBundle:layout:layout_lightbox.html.twig" %}

{% form_theme edit_form 'JngActivityBundle:Form:fields.html.twig' %}

{% block title %}Activity edit{% endblock %}
{% block title_section %}
    <h1>Activity edit</h1>
    <h2>Edit some activity</h2>
{% endblock %}   

{% block content %}
    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('activity') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %} 
