{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %} 
<div class="pure-g-r" id="layout" style="padding-left:0px">
    {# L'utilisateur est-il connecté ? #}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="pure-u-1" id="main">    
            <div class="header" style="background: #191818;color:white;">{% block title_section %}{% endblock %}</div>        
            <div class="content" style="margin-bottom:0px;">
            {% if app.session != null %}    
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-message">
                        <em>Notice</em>: {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endif %} 
            {% block content %}{% endblock %}
            </div>
            <div class="footer" style="background: #191818;color:white;">&nbsp;</div>
        </div>
    {% else %}
        <META http-equiv="refresh" content="0;URL={{ path('fos_user_security_login') }}">
    {% endif %}           
</div>             


