{% extends "JngActivityBundle:layout:layout.html.twig" %}

{% form_theme form 'JngActivityBundle:Form:fields.html.twig' %}

{% block title %}Task creation{% endblock %}
{% block title_section %}
    <h1>Task creation</h1>
    <h2>Create some task</h2>
{% endblock %}   

{% block content %}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
