{% extends "JngActivityBundle:layout:layout_lightbox.html.twig" %}
{% form_theme form 'JngActivityBundle:Form:fields.html.twig' %}

{% block title %}Customer creation{% endblock %}
{% block title_section %}
    <h1>Customer creation</h1>
    <h2>Create some customer</h2>
{% endblock %}   

{% block content %}
    {{ form(form) }}
{% endblock %}
